  div{

    display: flex;
    flex-direction: column;
    margin-top: 40%;
    margin-left: 40%;
    width: 200px;
    height: 200px;
    
    ion-button{
      text-transform:capitalize;
      margin-top: 20px;
    }
  }

